html, body {
    padding: 0;
    margin: 0;
}

main {
    width: 340px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

.auth-form {
    padding: 16px;
    box-sizing: border-box;
}

.auth-form .app-icon {
    text-align: center;
}

.auth-form h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.auth-form .auth-form-body {
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(246, 248, 250);
    border-radius: 6px;
    border: 1px solid rgb(235, 237, 239);
}

.auth-form .auth-application {
    text-align: center;
}

.auth-form .logo {
    border-radius: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    width: 96px;
    justify-content: center;
    align-items: center;
    height: 96px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.15) 0 3px 6px 0;
}

.auth-form .logo img {
    width: 50px;
    height: 50px;
}

.auth-form hr{

}

.auth-form form {
    display: flex;
    flex-direction: column;

}

.auth-form form label {
    font-size: 14px;
    margin-bottom: 7px;
}

.auth-form form input {
    border-radius: 6px;
    padding: 5px 12px;
    border: 1px solid rgb(225, 228, 232);
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 20px;
    box-sizing: border-box;
}

.auth-form form input[type=submit] {
    background-color: rgb(46, 164, 79);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
}

.auth-form p {
    border: 1px solid rgb(209, 213, 218);
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 14px;
}

.auth-form p a {
    text-decoration: none;
    color: rgb(3, 102, 214);
}
