<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authorize application</title>
</head>
<body>
<main>
  <div>
    <div class="logo">
      <img src="{{client.logo}}" alt="Application logo">
    </div>
    <div class="logo">
      <img src="{{client.logo}}" alt="Application logo">
    </div>
    <h2>Authorize {{client.name}}</h2>
  </div>
  <div>
    <div class="box-body">
      <div class="avatar">
        <img src="{{user.avatar}}" alt="User avatar">
      </div>
    </div>
    <div class="box-footer">
      <form action="/authorize" method="post">
        <input type="hidden" name="client_id" value="{{client_id}}">
        <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
        <input type="hidden" name="state" value="{{state}}">
        <input type="hidden" name="scope" value="{{scope}}">
        <input type="hidden" name="grant_type" value="auth">
        <button type="submit" name="authorize" value="0">Cancel</button>
        <button type="submit" name="authorize" value="1">Authorize {{client.name}}</button>
      </form>
    </div>
  </div>
</main>
</body>
</html>
